# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Dataset folders (local only)
data/raw/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Ignore system files
Thumbs.db